@import url('css/header.css');
@import url('css/main.css');
@import url('css/footer.css');
* {
  padding: 0; 
  margin: 0;
  scroll-behavior: smooth;
}
.wrapper {
  max-width: 1440px;
  margin: 0 auto;
}
.container {
  padding-top: 30px;
  padding-right: 120px;
  padding-left: 120px;
  padding-bottom: 30px;
}